.accordion-item {
    border: 1px solid #FF6060;
    border-radius: 10px;
    margin: 10px 0;
  
    .accordion-button {
      width: 100%;
      padding: 15px;
      background-color: #FF6060;
      color: white;
      text-align: left;
      font-size: 18px;
      font-weight: bold;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      &:hover {
        background-color: #FF8080;
      }
  
      .accordion-arrow {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: transform 0.3s ease;
      }
  
      &.active .accordion-arrow {
        transform: rotate(-135deg);
      }
    }
  
    .accordion-content {
      display: none;
      padding: 15px;
      background-color: #FFECEC;
      border-top: 1px solid #FF6060;
  
      p {
        margin: 0;
      }
    }
  
    .accordion-content.active {
      display: block;
    }
  }
  