.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding: 20px;
  background: white;

  &.header-housing-detail {
    max-width: 1240px;
    width: 85%;
    padding: 10px 20px;
    box-shadow: none;

    .header-logo {
      height: 30px;
    }

    .header-nav {
      font-size: 18px;

      li {
        margin: 0 10px;

        a {
          padding: 0 10px;
        }
      }
    }
  }

  .header-logo {
    height: 40px;
  }

  .header-nav {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 85%;
    padding: 10px 20px;

    .header-logo {
      height: 40px;
      margin-right: auto;
    }

    .header-nav {
      flex-grow: 1;
      justify-content: flex-end;
      width: 110%;

      li {
        margin: 0 10px;
      }
    }
  }

  @media (max-width: 375px) {
    align-items: center;
    font-size: 12px;
    padding: 10px 15px;

    .header-logo {
      margin-bottom: 10px;
    }

    .header-nav {
      justify-content: center;
      width: 110%;

      li {
        margin: 0 5px;
      }
    }
  }
}
