@media (min-width: 768px) {
    .home {
      &-header {
        .home-nav {
          li {
            margin: 0 20px;
          }
        }
      }
  
      .home-banner {
        height: 300px;
        font-size: 32px;
      }
  
      &-listings {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
  
        .listing-card {
          margin: 10px;
          flex: 0 1 30%;
        }
      }
    }
  }