$primary-color : #FF6060;
$secondary-color: #000000;

@import './layout.scss';
@import './components/banner.scss';
@import './carousel';

body {
    font-family: Montserrat;
    background-color: white;
  }